body {
    font-family: "Arial", "Helvetica", "sans-serif";
}

.collapsible {
    background-color: #4d6d80;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #0f3170;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.flyer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 600px;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

@media only screen and (min-width: 617px) {
    iframe.frame {
        height: 487px;
        display: block;
        width: 100%;
        border: none;
    }
}

@media only screen and (max-width:616px) {
    iframe.frame {
        height: 600px;
        display: block;
        width: 100%;
        border: none;
    }
}
